.nav{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.897);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    color: white;
}
.logo{
    /* border:1px solid red; */
    width: 30%;
    
}
.leftMenu{
    /* border:1px solid blue; */
    width: 70%;
    
}

.ulMenu{
    display: flex;
    font-size: 1rem;
    /* gap: ; */
    justify-content: right;
    align-items: center;
    /* margin-right: 2rem; */

}

.leftMenu ul li{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    margin: 0 0.5rem;
}
.btnRes{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: rgba(255, 4, 4, 0.589) ;
    margin-right: 1rem;
    /* margin: 0 0.5rem; */
}

.leftMenu ul li:hover{
    background-color: rgb(249, 8, 8);
    color: white;
}

.leftMenu ul {
    list-style: none;

}
.ham{
    display: none;
}



@media screen and  (max-width: 730px) {
    .nav{
        justify-content: space-around;
    }
  .leftMenu{
    display: none;
  }
  .ham{
    display: block;
}
}